body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

header {
  background-color: #1976D2;
  color: #fff;
  padding: 1rem;
  transition: all 200ms ease-out;
}

main {
  padding: 1rem;
}

p {
  line-height: 1.5;
  font-size: 1.125rem;
  color: #444;
}

img {
  display: block;
  width: 100%;
  max-width: 500px;
}

button {
  border: none;
  padding: 0.75rem 1.5rem;
  background-color: #1976D2;
  font-size: 1.125rem;
  color: #fff;
  cursor: pointer;
  transition: all 200ms ease-out;
}
button:hover {
  background-color: #2196F3;
}
